/* You can add global styles to this file, and also import other style files */
@import "../../node_modules/element-angular/theme/index.css";
[flex], [flex-be], [flex-c] {
  display: flex;
}
[flex-be] {
  justify-content: space-between;
}
[flex-c] {
  align-items: center;
}
